.hero {
    
    height: calc(100vh - 70px); 
    background: linear-gradient(135deg, var(--color-primary), var(--color-secondary));
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero-content h1 {
    font-size: 3.5rem; 
    margin-bottom: 1rem;
    font-weight: 800;
}

.hero-content h1 span {
    color: var(--color-accent); 
}

.hero-content p {
    font-size: 1.25rem;
    margin-bottom: 2.5rem;
    opacity: 0.9;
}


.cta-button {
    display: inline-block;
    padding: 1rem 2.5rem;
    background-color: white;
    color: var(--color-primary);
    font-weight: bold;
    border-radius: 50px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.cta-button:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

/* Responsive cho Mobile */
@media (max-width: 768px) {
    .hero-content h1 {
        font-size: 2.5rem;
    }
}